@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.star {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 35px solid #ffd700;
  border-left: 50px solid transparent;
  transform: rotate(35deg);
}

.star-inner {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 35px solid #fff;
  border-left: 50px solid transparent;
  transform: rotate(35deg);
  position: absolute;
  top: -20px;
  left: -50px;
}

html {
  background-color: white;
}
